---
title: Home
description: this is the homepage
layout: main.njk
---

<h1 class="page-title">Home Page</h1>

This is the home page! 

{% image "src/assets/images/test-img.jpg", "An awesome photo", "100vw" %}
