@import "../../node_modules/bulma/bulma.sass";

$primary-color: rgb(37, 39, 42);
$accent-color: hotpink;
$secondary-color: whitesmoke;

html,
body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

body {
    background: $secondary-color;
    color: $primary-color;
}

h1, h2, h3 {
    color: $accent-color;
}